body {
   /* 
    
    font-size: 14px;
    color: #444; */
    align : center;
    margin: 40px auto;
     width: 1200px;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    background-image: url("images/offerImage.jpg");
    
}
div{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 75px;
    margin-left: 40px;
}
