body {
   /* 
    
    font-size: 14px;
    color: #444; */
    align : center;
    margin: 300px auto;
     width: 1200px;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    background-image: url("images/original.jpg");
      background-size:     cover;                    
    background-repeat:   no-repeat;
 
}
